.children {
    font-size: 1.5rem;
    color: var(--darkblue);
    letter-spacing: 0.1rem;
}

.addTodoInput {
    font-size: 1.1rem;
    width: 20rem;
    padding: 15px 20px;
    border-style: inset;
    border-radius:  0.5rem;
    color: var(--darkblue);
    border-color: var(--darkblue);
    background-color:  #edf1ceb7;
    transition: 0.4s ease-in-out;
}

.addTodoInput:focus {
    background-color: var(--transparent);
    padding: 0.8rem 1.5rem;
}