.container {
    height: 34rem; 
    width: 31rem;
    background-image: url(/src/resources/list-bg.png);
    background-size: cover;
    background-position: center;
    transform: rotate(357deg) translate(7px,0px);
    -webkit-transform: rotate(357deg) translate(7px,0px);
    -moz-transform: rotate(357deg) translate(7px,0px); 
    display: flex;

} 

.motivationText {
  color: var(--darkblue);
  margin: 0.9rem;
  text-align: center;
}

.list {
    margin-top: 0.5rem;
    flex: 1 1 auto;
    height: 30rem;
    overflow: scroll; 
    transform: rotate(3deg) translate(7px,0px);
    -webkit-transform: rotate(3deg) translate(7px,0px);
    -moz-transform: rotate(3deg) translate(7px,0px); 
}

.list::-webkit-scrollbar {
  display: none;
}


@media all and (max-width: 900px) {
  .list {
    margin-top: 1rem;
  }
}

@media all and (max-width: 500px) {
  .motivationText {
    font-size: 1rem;
  }
  .list {
    height: 30rem;
  }
  .container {
      height: 27rem;
      width: 24rem;
  }
}

@media all and (max-width: 420px) {
  .list {
    height: 22rem;
  }
}