.container {
    height: 34rem; 
    width: 31rem;
    background-image: url(/src/resources/list-bg.png);
    background-size: cover;
    background-position: center;
} 

.motivationText {
  color: var(--darkblue);
  margin: 0.9rem;
}

.list {
    margin-top: 0.5rem;
    height: 50vh;
    overflow: scroll; 
}

.list::-webkit-scrollbar {
  display: none;
}


@media all and (max-width: 900px) {
  .list {
    height: 40vh;
    margin-top: 1rem;
  }
}

@media all and (max-width: 500px) {
  .container {
      height: 28rem;
      width: 25rem;
  }
}