:root {
    --yellow: #edf1ce;
    --green: #94b79d95;
    --turquoise: #19282228;
    --darkblue: #223e42;
    --transparent: #f2f3ead7;
}

.container {
    height: 32rem;
    width: 29rem;
    background-image: url(/src/resources/list-bg.png);
    background-size: cover;
    background-position: center;
    margin: auto;
}

.list {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media all and (max-width: 500px) {
    .container {
        height: 23rem;
        width: 20rem;
    }
}