.container {
    margin-top: 2.2rem;
}

.conditionalContainer {
    display: grid;
    gap: 0.9rem;    
    grid-template-columns: 1fr 3fr 2fr 1fr 1fr;   
    grid-template-rows: 1.5rem;  
    margin-left: 5.5rem; 
    margin-right: 5rem;
    align-items: center;
}

.conditionalContainerForm{
    display: grid;
    gap: 1.3rem;  
    grid-template-columns: 8.7fr 1fr;  
    margin-left: 5.5rem;
    margin-right: 5rem;
    grid-template-rows: 1.5rem; 
    align-items: center; 
}

.label {
    font-style: italic;
    max-height: 3rem;
    font-size: 1.3rem;
    line-height: 1;
    word-wrap: break-word;
    font-family: 'Architects Daughter', cursive;
    color: var(--darkblue);
    overflow: auto;
}

.label::-webkit-scrollbar {
    display: none;
}

.icon {
    height: 25px;
    width: 25px;
}

.icon:hover, .formIcon:hover {
    transition: all 0.1s ease-out;
    transform: scale(1.1);
} 

.formIcon {
    margin-top: 0.3rem;
    height: 30px;
    width: 30px;
}

.lineThrough {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 0.8;
    word-wrap: break-word;
    font-family: 'Architects Daughter', cursive;
    text-decoration: line-through;
    opacity: 50%;
}

.btn {
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.formInput {
    font-size: 1.1rem;
    padding: 0.3rem 0.2rem;
    border-style: inset;
    border-radius:  0.5rem;
    color: var(--darkblue);
    border-color: var(--darkblue);
    background-color: var(--transparent);
    font-family: 'Architects Daughter', cursive;
}

.formInput:focus {
    transition: 0.4s ease-in-out;
    padding: 0.3rem 1rem;
    border-color: var(--green);
    background-color: var(--yellow);
    outline: none;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--yellow);
    font: inherit;
    color: var(--yellow);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--green);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center; 
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--green);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid var(--green);
    outline-offset: max(2px, 0.15em);
}

@media all and (max-width: 500px) {
    .conditionalContainer {
        margin-left: 4.2rem;
        grid-template-rows: 1rem;  
        grid-template-columns: 20px 90px 50px 20px 20px; 
    }
    .conditionalContainerForm {
        margin-left: 4.2rem;
        grid-template-rows: 1rem;  
        grid-template-columns: 180px 20px; 
    }
    .label {
        font-size: 1rem;
        padding: 0;
    }
    .btn {
        padding: 1rem;
    }
}