.container {
    display: flex;
    align-content: center;
}

.conditionalContainer {
    display: grid;
    gap: 10px 15px;
    grid-template-columns: 150px 70px 20px 20px 40px; 
    margin-left: 10px;
}

.label {
    font-style: italic;
    font-size: 1.3rem;
    line-height: 0.8;
    word-wrap: break-word;
    font-family: 'Architects Daughter', cursive;
    color: var(--turquoise);
}


.btn {
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.editForm {
    margin-top: 0.9rem;
    margin-bottom: 0.4em;
} 

.formInput {
    font-size: 1.1rem;
    padding: 0.3rem 0.2rem;
    border-style: inset;
    border-radius:  0.5rem;
    color: var(--darkblue);
    border-color: var(--darkblue);
    background-color: var(--transparent);
    transition: 0.4s ease-in-out;
    font-family: 'Architects Daughter', cursive;
}

.formInput:focus {
    background-color: white;
}

@media all and (max-width: 500px) {
    .conditionalContainer {
        gap: 5px 10px;
        grid-template-columns: 50px 50px 30px 30px; 
    }
    .label {
        font-size: 1rem;
        padding: 0;
    }
    .btn {
        padding: 1rem;
    }
}