.navbarContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 35rem;
    height: 100vh;
    background-image: linear-gradient(90deg,#ecf0eef9,#eaf4f0e4,#eaf4f0c4, #eaf4f0a1,#eaf4f077,#eaf4f04a, #eaf4f025,#eaf4f00c, #eaf4f000);
    position: fixed;
    left:0;
    top:0;
    bottom:0;
}

.navlinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.link {
    padding: 4rem;
    text-decoration: none;
    color: var(--darkblue);
    font-size: 2.3rem;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}

.active {
    color: var(--green);
    padding: 4rem;
    text-decoration: none;
    font-size: 2.3rem;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}

footer {
    position: fixed; 
    width: 20rem;
    left:0;
    bottom:0;
    right:0;
    padding: 1rem 2rem;
}

.signature {
    font-size: 0.9rem;
    font-weight: 900;
    color: var(--darkblue);
}

.phantom {
    display: block;
    height:  1rem;
}

.toggleBtn {
    display: none;
} 

.themeBtn {
    margin-top: -4rem;
    margin-left: 4rem;	
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.icon {
    color: var(--green);
}

@media all and (max-width: 900px) {
    .navbarContainer {
        padding: 3rem 0;
        justify-content: start;
        align-items: flex-end;
        width: 100%;
        height: 80%;
        background-image: linear-gradient(to bottom,#ecf0ee,#ecf0eef0, #ecf0eee0,#ecf0ee7c, #ecf0ee01); 
    }  

    .navlinksContainer {
        align-items: flex-end;
    }
    

    .link, .active {
        padding: 2rem;
        font-size: 3rem;
    }

    .themeBtn {
        margin-top: 4rem;
        margin-right: 2rem;
    }

    .menu {
        display: block;
        width: 100%;
        height: 30px;
    }

    .toggleBtn {
        display: block;
        position: fixed;
        top: 3rem;
        right: 2rem;
        z-index: 20;
        background-color: transparent;
        border: none;
        color: var(--darkblue);
    } 

    footer {
        width: 400px;
    }

    .signature {
        font-size: 1rem;
    }
}

@media all and (max-width: 500px) {
    .link, .active {
        font-size: 2rem;
        padding: 1rem;
    }

    .themeBtn {
        margin-top: 2rem;
        margin-right: 1rem;
    }

    .signature {
        font-size: 0.8rem;
    }

    .toggleBtn {
        top: 2rem;
        right: 1rem;
    } 

}
