.addToDoForm {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    height: 11rem;
}

.button {
    padding: 15px 20px;
    width: 20rem;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-color: var(--yellow);
    color: var(--darkblue);
    border-style: none;
    border-radius: 0.5rem; 
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
}

.button:focus {
    border: 2px inset var(--darkblue);
    box-shadow: none;
    transition: all 0.1s ease-in;
}