html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0; 
  padding: 0; 
}

html,
body {
  height: 100%;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --yellow: #edf1ce;
  --green:rgb(47, 157, 124);
  --turquoise: rgb(47, 157, 124);
  --darkblue: #223e42;
  --transparent: #f2f3ead7;  
  --light-bg: linear-gradient(90deg, hsla(67, 100%, 93%, 1) 0%, hsla(100, 73%, 85%, 1) 32%, hsla(156, 72%, 76%, 1) 63%, hsla(187, 77%, 70%, 1) 100%); 
  --dark-bg: linear-gradient(0deg, hsla(300, 90%, 8%, 1) 0%, hsla(300, 89%, 18%, 1) 23%, hsla(240, 11%, 47%, 1) 48%, hsla(143, 34%, 72%, 1) 85%, hsla(151, 100%, 82%, 1) 100%);
}

[data-theme="dark"] {
  background-image: var(--dark-bg);
  --turquoise: rgba(52, 198, 140, 0.818); 
}

[data-theme="light"] {
  background-image: var(--light-bg);
}

body {  
  background:#19282228;
}

main {
  min-height: 100vh;
  background-size: cover;
}